In [2]:
install.packages("Flury")
library(Flury)
data(cork)
str(cork)

Installing package into 'C:/Users/Youngju Hong/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'Flury' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Youngju Hong\AppData\Local\Temp\RtmpWa5oBM\downloaded_packages
'data.frame':	28 obs. of  4 variables:
 $ North: int  72 60 56 41 32 30 39 42 37 33 ...
 $ East : int  66 53 57 29 32 35 39 43 40 29 ...
 $ South: int  76 66 64 36 35 34 31 31 31 27 ...
 $ West : int  77 63 58 38 36 26 27 25 25 36 ...

In [7]:
n = nrow(cork)
A = matrix(c(1,-1,0,0,
             0,1,-1,0,
             0,0,1,-1), nrow = 3, byrow = T)

xbar = apply(cork, 2, mean)
xbar #열벡터에 대한 평균

b = rep(0, 3)
S = cov(cork)

T2.0 = n * t(A %*% xbar - b) %*% solve(A %*% S %*% t(A)) %*% (A %*% xbar - b)
T2.0

   North     East    South     West
50.53571 46.17857 49.67857 45.17857

     [,1]
[1,] 20.74202

In [9]:
q = 3
F_0 = ( (n-q) / (q * (n-1))) * T2.0
F_0

qf(0.05, q, n-q, lower.tail = FALSE) #임계값: 2.99124

#lower.tail = TRUE일 경우 왼쪽꼬리확률 산출
#귀무가설을 기각함

     [,1]
[1,] 6.401857

[1] 2.991241

In [11]:
#유의확률 계산

pf (F_0, q, n-1, lower.tail = F) #p-value

     [,1]
[1,] 0.002034908

In [12]:
#2번

A = diag(4) #항등행렬
b = c(50,45,50,45)
S = cov(cork)

T2.0 = n * t(A %*% xbar - b) %*% solve(A %*% S %*% t(A)) %*% (A %*% xbar - b)
T2.0

F_0 = ( (n-q) / (q * (n-1))) * T2.0
F_0

     [,1]
[1,] 0.9053635

     [,1]
[1,] 0.2794332

In [14]:
qf(0.05, q, n-q, lower.tail = FALSE) #임계값: 2.99124

#귀무가설을 기각할 수 없다.

[1] 2.991241

In [15]:
#3번

x = as.matrix(cork)
n = nrow(x)
p = ncol(x)
A = matrix( c(1, -1, 0, 0,
             0, 1, -1, 0,
             0, 0, 1, -1), nrow = 3, ncol = 4, byrow = T)
b = rep(0, 3)

Ax = A %*% t(x)

temp1 = apply(t(Ax-b), 1, function(a) a %*% t(a))
num = det(matrix(apply(temp1, 1, sum) / n, ncol = nrow(A)))
Chisq1 = n * log(num)

In [16]:
xbar = apply(x,2,mean)
Axbar = A %*% xbar
temp2 = apply(t(Ax - as.vector(Axbar)), 1, function(a) a %*% t(a))
den = det(matrix(apply(temp2, 1, sum) / n, ncol = nrow(A)))
Chisq2 = n * log(den)
              
Chisq0 = Chisq1 - Chisq2
Chisq0

[1] 15.9593

In [17]:
qchisq(0.05, 4, lower.tail = FALSE) #귀무가설 기각

[1] 9.487729

In [30]:
LR = exp(-Chisq0 / 2)
Wilks_lambda = LR^(2/n)
T2.0 = (n-1) * ((1 - Wilks_lambda) / Wilks_lambda)
T2.0

[1] 0.9053635

In [25]:
# 3-2

A = diag(4)
b = rep(c(50,45), 2)
Ax = A %*% t(x)

temp1 =apply( t(Ax - b), 1, function(a) a %*% t(a) )

In [26]:
num = det(matrix(apply(temp1, 1, sum) / n, ncol = nrow(A)))
Chisq1 = n * log(num)
xbar = apply(x, 2, mean)
Axbar = A %*% xbar
temp2 = apply( t(Ax - as.vector(Axbar)), 1, function(a) a %*% t(a))
den = det(matrix(apply(temp2, 1, sum) / n, ncol = nrow(A)))
Chisq2 = n * log(den)
              
              Chisq0 = Chisq1 - Chisq2
              Chisq0

[1] 0.9234973

In [28]:
qchisq(0.05, 4, lower.tail = FALSE)
#귀무가설을 기각하지 않음

[1] 9.487729

In [29]:
LR = exp (-Chisq0 / 2)
Wilks_lambda = LR^(2/n)
T2.0 = (n-1) * ((1 - Wilks_lambda) / Wilks_lambda)
T2.0

[1] 0.9053635

In [31]:
#4번

headsize = read.csv(file.choose()) #headsize.csv

In [32]:
str(headsize)

'data.frame':	25 obs. of  4 variables:
 $ Length1 : int  191 195 181 183 176 208 189 197 188 192 ...
 $ Breadth1: int  155 149 148 153 144 157 150 159 152 150 ...
 $ Length2 : int  179 201 185 188 171 192 192 189 197 187 ...
 $ Breadth2: int  145 152 149 149 142 152 149 152 159 151 ...

In [34]:
n = nrow(headsize)
A = matrix(c(1, 0, -1, 0,
            0, 1, 0, -1), nrow = 2, ncol = 4, byrow = T)

xbar = apply(headsize, 2, mean)
xbar #열벡터에 대한 평균

b = rep(0, 2)
S = cov(headsize)

T2.0 = n * t(A %*% xbar - b) %*% solve(A %*% S %*% t(A)) %*% (A %*% xbar - b)
T2.0

 Length1 Breadth1  Length2 Breadth2
  185.72   151.12   183.92   149.24

     [,1]
[1,] 3.519536

In [35]:
q = 2
F_0 = ((n-q)/(q*(n-1))) * T2.0
F_0

     [,1]
[1,] 1.686444

In [38]:
qf(0.05, q, n-1, lower.tail = FALSE)

[1] 3.402826

In [ ]:
#가능도비 검정